<div class="header">
<nav class="navbar navbar-expand-lg px-2  navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-6 text-center navbarItems">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Experience</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div class="contentText">
  <img class="myPic" src="assets/myPic.jpeg">
  <h2 class="name pt-3">Rutvij Akkawar</h2>
  <h6 class="desgnation">Software Engineer</h6>

  <button class="button"><span>Download CV </span></button>
  <div>
    <div class="icons mt-3">
      <i class=" facebook fa fa-brands fa-facebook fa-2x mx-3 "></i>
      <i class=" instagram fa fa-brands fa-instagram fa-2x mx-3 fa-beat"></i>
      <i class="git fa fa-brands fa-github fa-2x mx-3 fa-beat"></i>
      <i class="linkdin fa fa-brands fa-linkedin fa-2x mx-3 fa-beat"></i>
    </div>
  </div>
</div>




