<header>
  <!-- ---------------------------------   HEADER   --------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white px-2 border-bottom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="#">Rutvij's <span style="color: #cd5454">Portfolio</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-7 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#edu">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#exp">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ---------------------------------   My INFO   --------------------------------- -->
  <div class="contentText pt-4">
    <img class="myPic" src="assets/myPic.jpeg">
    <h2 class="name pt-3">Rutvij Akkawar</h2>
    <h6 class="desgnation">Software Engineer</h6>

    <button class="button"><span>Download CV </span></button>
    <div>
      <div class="icons mt-5">
        <!-- <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-facebook"></i></button>
        <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-instagram"></i></button>
        <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-linkedin"></i></button>
        <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-github"></i></button> -->


        <i class=" facebook fa fa-brands fa-facebook fa-2x mx-3 "></i>
        <i class=" instagram fa fa-brands fa-instagram fa-2x mx-3 fa-beat"></i>
        <i class="git fa fa-brands fa-github fa-2x mx-3 fa-beat"></i>
        <i class="linkdin fa fa-brands fa-linkedin fa-2x mx-3 fa-beat"></i>
      </div>
    </div>
  </div>

</header>


<!-- ---------------------------------  About   --------------------------------- -->
<section id="about" class="about my-5">
  <h2 class="text-center mt-5">About <span style="color: #cd5454">Me</span></h2>
  <hr class="w-25 m-auto" />
  <div class="container mt-5" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">


    <div class="row border">

      <div class="col-sm-12 col-md-6 col-lg-6 col-12 p-5">
        <h3 class="pb-3">About</h3>
        <ul>
          <li>Software Developer with 2 years of experience</li>
          <li>Expertise in Angular 2+ All versions, Javascript and UI with Responsive Designs</li>
          <li>Have good understanding of React, Bootstrap, HTML and CSS</li>

        </ul>
        <p>Over of innovation and everything related to generate new knowledge.Face problems with a smile and solve them
          as soon as possible. Very calculated about the time I spend and work I do.</p>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-12 p-5">
        <h3 class="pb-3">Basic Information</h3>
        <div class="row">
          <div class="col-md-4">
            <p><b>Date Of Birth :</b></p>
          </div>
          <div class="col-md-4">
            <p>30 January, 1996</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><b>Email :</b></p>
          </div>
          <div class="col-md-3">
            <p>rutvij.akkawar6416@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><b>Phone :</b></p>
          </div>
          <div class="col-md-5">
            <p>+91 9890798098</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><b>Language :</b></p>
          </div>
          <div class="col-md-6">
            <p>Marathi, Hindi and English</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- ---------------------------------   Education   --------------------------------- -->

<section id="edu" class="education">
  <h2 class="text-center mt-5">Education</h2>
  <hr class="w-25 m-auto" />
  <div class="container mt-5">
    <div class="card border m-4 p-4">
      <div class="row">
        <div class="col-md-3 degree pb-2 pt-3" data-aos="fade-right">
          <p>Feb 2019-Aug 2019</p>
          <div class="h4">C-DAC</div>
        </div>
        <div class="col-md-9 degreeDes my-3 p-2">
          <h4 class="mx-4">PG Dploma in Advanced Computing</h4>
          <h6 class="mx-4">Knowledge Divine Information Technology Pvt. Ltd., Pune</h6>
          <ul class="mx-4 my-3">
            <li>Completed with 63%.</li>
            <li>Learnt all technologies/langauges which are required for the IT industry.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card border m-4 p-4">
      <div class="row">
        <div class="col-md-3 degree pb-2 pt-3" data-aos="fade-right">
          <p>2014-2018</p>
          <div class="h4">Bachelors Degree</div>
        </div>
        <div class="col-md-9 degreeDes my-3 p-2">
          <h4 class="mx-4">Bachelor of Engineering</h4>
          <h6 class="mx-4">NBN Sinhgad School Of Engineering, Pune</h6>
          <ul class="mx-4 my-3">
            <li>Completed B.E in Electronics & Telecommunication Engineering with First Class.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card border m-4 p-4">
      <div class="row">
        <div class="col-md-3 degree pb-2 pt-3" data-aos="fade-right">
          <p>2011-2013</p>
          <div class="h4">Higher Secondary</div>
        </div>
        <div class="col-md-9 degreeDes my-3 p-2">
          <h4 class="mx-4">Higher Secondary</h4>
          <h6 class="mx-4">Science College, Nanded</h6>
          <ul class="mx-4 my-3">
            <li>There was also a good base on Physics, Mathematics and Chemistry.</li>
            <li>Completed my high School with 62%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ---------------------------------   Skills   --------------------------------- -->

<section id="skills" class="skills">
  <div class="skillWithLine">
    <h2 class="text-center mt-5 skills">Skills</h2>
    <hr class="w-25 m-auto" />
  </div>
  <div class="container mt-5">
    <div class="row border">
      <div class="col-md-12 col-sm-12 col-12 col-lg-6">
        <div class="skills">
          <div class="progress-bar-container">
            <h2>Angular</h2>
            <div class="progress-bar">
              <span class="percentage c">
              </span>
            </div>
          </div>

          <div class="progress-bar-container">
            <h2>React JS</h2>
            <div class="progress-bar">
              <span class="percentage java"></span>
            </div>
          </div>

          <div class="progress-bar-container">
            <h2>JavaScript</h2>
            <div class="progress-bar">
              <span class="percentage python"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-12 col-lg-6">
        <div class="skills">
          <div class="progress-bar-container">
            <h2>HTML</h2>
            <div class="progress-bar">
              <span class="percentage html"></span>
            </div>
          </div>

          <div class="progress-bar-container">
            <h2>CSS</h2>
            <div class="progress-bar">
              <span class="percentage css"></span>
            </div>
          </div>

          <div class="progress-bar-container">
            <h2>Bootstrap</h2>
            <div class="progress-bar">
              <span class="percentage javascript"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>




<!-- ---------------------------------   Experience   --------------------------------- -->

<section id="exp" class="exp">
  <div class="experienceWithLine">
    <h2 class="text-center mt-5 experience">Work Experience</h2>
    <hr class="w-25 m-auto" />
  </div>
  <!-- <div class="row"> -->
  <div class="col-sm-12 col-md-12 col-lg-12 col-12">
    <div class="wrapper">
      <div class="center-line">
      </div>
      <div class="row row-1">
        <section data-aos="zoom-in">
          <i class="icon fa fa-home"></i>
          <div class="details">
            <span class="title">Saama Technology Pvt. Ltd.</span>
            <span>Pune</span>
          </div>
          <p><b>Software Engineer </b>(Feb 2020 - Current)</p>
          <ul>
            <li>Working as a UI Developer</li>
            <li>Technologies : Angular, Javascript, HTML, CSS, Bootstrap</li>
            <li>Contributed on developing the <b>Blue Dart</b> dashboard with different charts and insights for the
              application</li>
            <li>Worked on the web application built in Angular for different business</li>
            <li>Managing Servers activities</li>
          </ul>

          <div class="bottom">
            <a href="https://www.saama.com/">Visit</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section data-aos="zoom-in">
          <i class="icon fa fa-star"></i>
          <div class="details">
            <span class="title">ProError Software Solutions</span>
            <span>Pune</span>
          </div>
          <p><b>Intern Trainee </b>(2018 - 2019)</p>
          <ul>
            <li>Working as a UI Trainee to fulfil Clients requirements</li>
            <li>Technologies : HTML, CSS, Bootstrap</li>
            <li>Created application with the help of HTML, CSS and Boostrap.</li>
          </ul>
          <div class="bottom">
            <a href="https://www.proerrors.com/index.html">Visit</a>
            <i>- Someone famous</i>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>




<!-- ---------------------------------   Contact   --------------------------------- -->

<section id="contact" class="p-4">
  <div class="experienceWithLine">
    <h2 class="text-center mt-5 experience">Get In Touch</h2>
    <hr class="w-25 m-auto" />
  </div>
  <div class="container p-4 mt-4">
    <div class="col-md-12 col-sm-12 col-lg-12 col-12">
      <div class="row border">
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 p-4">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Message</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>     
              
          </form>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 p-5 ">
          <form>
            <div class="mb-3">
              <p><b>Email :</b></p>
              <p>rutvij.akkawar6416@gmail.com</p>
            </div>
            <div class="mb-3">
              <p><b>Phone :</b></p>
              <p>+91 9890798098</p>
            </div>
            <div class="text-center">         
              <button onclick="myFunction()" class=" btnSend btn btn-primary">Send</button>
            </div>              
        </form>
      </div>
      </div>
    </div>
  </div>
</section>





<!-- ----------------------------------   Footer   ----------------------------------------- -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container-fluid border-top">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">
        <!-- <div class=" flex-center" style="display: flex;justify-content: end;">
          <i class=" facebook fa fa-brands fa-facebook fa-1x mx-2"></i>
          <i class="fa fa-instagram fa-lg white-text mr-md-5  fa-1x mx-2"> </i>
          <i class="fa fa-github fa-lg white-text mr-md-5  fa-1x mx-2"> </i>
          <i class="fa fa-linkedin fa-lg white-text mr-md-5 fa-1x mx-2"> </i>
        </div> -->
        <div class="footer-copyright">© All Rights Reserved
        </div>
      </div>
      <!-- Grid column -->
      
    </div>
    <!-- Grid row-->
   
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->